.header {
  padding: 30px 0;
  color: #fff;
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__logo {
      margin-right: 200px;
    }
    .header__wrap {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .header__list {
      display: flex;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      list-style: none;
      margin-bottom: 0 !important;
    }
    .header__list li a {
      color: red;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 1.2;
      color: #00000086;
      font-family: "Roboto";
      font-weight: 700;
      text-align: right;
      margin-right: 40px;
      text-decoration: none;
      &:hover {
        color: #000000;
        transition: 0.3s;
      }

      .header__search {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .header__search {
      cursor: pointer;
      position: relative;
      .header__input {
        position: absolute;
        top: -10px;
        right: 25px;
        border: 1px solid #000000;
        border-radius: 5px;
        padding: 10px 20px;
        outline: none;
        display: none;
        &.opened {
            display: block;
        }
      }
    }

    // .header__search {
    //   .search__txt {
    //     background-color: #000000;
    //     border: none;
    //     outline: none;
    //     background: none;
    //     padding: 0;
    //     color:  #000000;
    //     font-size: 15px;
    //     transition: 0.3s;
    //     line-height: 40px;
    //     width: 0;
    //   }
    //   .search__bnt {
    //     color: #00000086;
    //     &:hover {
    //         color: #000000;
    //         transition: .4s;
    //     }
    //   }
    //   &:hover .search__txt {
    //     width: 250px;
    //     padding: 0 10px;
    //     border: 1px solid #000000;
    //     transition: .4s;
    //   }
    // }
  }
}
