.header {
  background-color: #fff;
}

.header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 9vh;
}

.header .header__menu .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 50%;
  list-style: none;
  margin-top: 15px;
  margin-bottom: 15px;
}

.header .header__menu .header__list .header__link {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.2;
  color: #00000080;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.header .header__menu .header__list .header__link:hover {
  color: #000000;
}

.header .header__menu .header__burger {
  display: none;
}

.header .header__menu .header__burger div {
  width: 40px;
  height: 2px;
  background-color: #000000;
  margin: 6px;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    position: absolute;
    margin-right: 0;
    right: 0;
    height: 92vh;
    top: 0;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.021);
    text-decoration: underline;
    margin-right: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .header__link {
    opacity: 0;
  }
  .header__burger {
    display: block;
  }
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -50px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.header__search .header__input {
  position: absolute;
  top: -14px;
  right: 25px;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  height: 40px;
  outline: none;
  display: none;
}

.header__search .header__input.opened {
  display: block;
}

.header__search .search__bnt {
  color: #00000086;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 50px;
  text-decoration: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0px;
  margin-left: 40px;
}

.header__search .search__bnt:hover {
  color: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .search__btn {
    margin-left: 150px;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.container {
  max-width: 1160px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
